html {
    height: 100%;
}

body {
	font-family: Fjalla One;
    background-color: #242021; 
    text-align: center;
    margin: 0;
    height: 100%;
}

.bg {
    background: url("bg.jpg");
    background-size: cover;
}

.bg26 {
    background: url("./cuentos/la-odisea-del-26/preview.jpg");
    background-size: cover;
    background-position-x: 50%;
}
.bgOral {
    background: url("./cuentos/oral/preview.jpg");
    background-size: cover;
    background-position-x: 50%;
}
.bgVladimir {
    background: url("./cuentos/vladimir/preview.jpg");
    background-size: cover;
    background-position-x: 50%;
}
.bgViejoAmor {
    background: url("./cuentos/para-mi-viejo-amor/preview.jpg");
    background-size: cover;
    background-position-x: 50%;
}
.bgTiempo {
    background: url("./cuentos/tiempo/preview.jpg");
    background-size: cover;
    background-position-x: 50%;
}
.bgHada {
    background: url("./cuentos/hada-la-desencajada/preview.jpg");
    background-size: cover;
    background-position-x: 50%;
}
.bgSteve {
    background: url("./cuentos/el-dia-que-etc/preview.jpg");
    background-size: cover;
    background-position-x: 50%;
}
.bgLilita {
    background: url("./cuentos/lilita-cacarrio/preview.jpg");
    background-size: cover;
    background-position-x: 50%;
}
.bgFasitoInca {
    background: url("./cuentos/fasito-inca/preview.jpg");
    background-size: cover;
    background-position-x: 50%;
}

.wholeScreen {
    height: 100%;
    background: url("background.jpg");
    background-size: cover;
}

.tabSelected {
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(-360deg);
    }
}

@media screen and (max-height: 550px) {
    .landscapeHalfHeight {
        height: 50%!important;
    }
}